html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 14px;
    color: #555252;
    font-family: 'Roboto', sans-serif;
    font-family: 'OpenSans', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0px 30px ;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

img {
    max-width: 100%;
    margin: auto;
    display: block;
}

p, h1,h2,h3 {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position:absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.products {
    padding-bottom: 102px;
}

/* Menu navigation */
.page__nav {
    padding-top: 42px;
}

.site__logo {
    font-size: 30px;
    line-height: 32px;
    font-family: 'Roboto';
    font-weight: 100;
    color: #555252;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

.site__logo::first-letter {
    color: #1abc9c;
    font-weight: 600;
}

.site__navigation {
    float: right;
    width: 505px;
    padding: 0; 
    margin: 0;
    margin-top: 10px;   
}

.site__navigation a {
    display: block;
    font-family: 'OpenSans' sans-serif;
    font-weight: 700;
    color: #0f0101;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 11px;
    text-decoration: none;
}

.site__navigation a:hover,
.site__navigation a:focus {
    color:#1abc9c
}

.site__navigation li {
    float: left;
    list-style: none;   
}

.site__navigation li:not(:last-child) {
    margin-right: 35px;
}

/* Featured products */
.featured__title {
    margin-bottom: 94px;
}

.featured__title {
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    color: #515151;
}

.featured__title::after {
    content: '';
    display: block;
    background-color: rgb(26, 188, 156);
    width: 164px;
    height: 7px;
    margin: 0 auto; 
    margin-top: 32px;  
}

.featured__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.featured__list li {
    float: left;
}

.featured__list--item {
    width: 255px;
    margin-bottom: 30px;
}

.featured__list--item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.featured__list--item:nth-last-child(-n+4) {
    margin-bottom: 0;
}

.product__title {
    width: 200px;
    height: 40px;
    background-color: rgb(50, 50, 50);
} 

.product__price {
    width: 55px;
    height: 40px;
    background-color:#8c8c8c;
} 

.featured__list--item:hover .product__title {
    background-color: rgb(26, 188, 156);
}

.featured__list--item:hover .product__title + .product__price {
    background-color: rgb(127, 217, 199);
}

.product__item--price p {
    float: left;
    font-size: 18px;
    font-family: 'Roboto';
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 13px;
}

/* News section */
.news__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.news__list li {
    float: left;
}

.news__list li:not(:last-child) {
    margin-right: 30px;
}

.news__list--item {
    max-width: 350px;
}

.news__list--item img {
    margin-bottom: 12px;
}

.news__list--title {
    font-family: 'OpenSans' sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    margin-bottom: 24px;
}

.news__list--title::after {
    content: '';
    display: block;
    background-color: rgb(26, 188, 156);
    width: 136px;
    height: 3px; 
    margin-top: 12px;
}

.news__list--about {
    font-size: 14px;
    line-height: 26px;
    font-family: 'OpenSans'sans-serif;
    font-weight: 400;
    margin-bottom: 16px;
}

.news__list--link {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
    font-family: 'OpenSans' sans-serif;
    font-weight: 200;
    color: #ffff;
    padding: 16px 40px;
    border-radius: 3px;
    background-color: rgb(78, 198, 171);
}

.news__list--link:hover,
.news__list--link:focus {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
}
