html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-family: 'OpenSans', sans-serif;
}

p,h1,h2,h3 {
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0px 30px ;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

img {
    max-width: 100%;
    margin: auto;
    display: block;
}

.visually-hidden {
    position:absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Menu navigation */
.page_header {
    padding-bottom: 38px;
}

.page__nav {
    padding-top: 42px;
}

.site__logo {
    font-size: 30px;
    line-height: 32px;
    font-family: 'Roboto';
    font-weight: 100;
    color: #555252;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

.site__logo::first-letter {
    color: #1abc9c;
    font-weight: 600;
}

.site__navigation {
    float: right;
    width: 505px;
    padding: 0; 
    margin: 0;
    margin-top: 10px;   
}

.site__navigation a {
    display: block;
    font-family: 'OpenSans' sans-serif;
    font-weight: 700;
    color: #0f0101;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 11px;
    text-decoration: none;
}

.site__navigation a:hover,
.site__navigation a:focus {
    color:#1abc9c
}

.site__navigation li {
    float: left;
    list-style: none;   
}

.site__navigation li:not(:last-child) {
    margin-right: 35px;
}

/* Slider section */

.slider {
    position: relative;
}

.slider__image {
    object-fit: cover;
    width: 100%;
}

.overlay__image::before {
    position: absolute;
    background-color: rgb(0, 0, 2);
    opacity: 0.522;
    width: 100%;
    content: "";
    height: 600px;
}

.slider__block {
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 1170px;
}

.slider__ctrl {
    position:absolute;
    display: inline-block;
    text-decoration: none;
    width: 104px;
    height: 104px;
    background-color: rgb(78, 198, 171);
    opacity: 0.651;
    top:50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
}

.slider__ctrl--prev {
    left: 0;
    background-image: url(../img/icons/left.png);
}

.slider__ctrl--next {
    right: 0;
    background-image: url(../img/icons/right.png);
}

.slider__ctrl:hover {
    opacity: 1;
} 

.slider__content {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sliders__item {
    width: 764px;
    margin:0 auto;
}

.sliders__item--title {
    font-size: 60px;
    line-height: 82px;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
}

.sliders__item--descr {
    font-size: 24px;
    line-height: 54px;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}

/* Collection section */

.collection {
    background-color: #e9f0fd;
    padding-bottom: 100px;
}

.products {
    padding-top: 95px;
}

.products__title {
    margin-bottom: 80px;
}

.products__title {
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    color: #515151;
}

.products__title::after {
    content: '';
    display: block;
    background-color: rgb(26, 188, 156);
    width: 164px;
    height: 7px;
    margin: 0 auto; 
    margin-top: 32px;  
}

.products__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.products__list li {
    float: left;
}

.products__list--item {
    position: relative;
    height: 280px;
    width: 255px;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0,0.55);
    opacity: 0;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    transition: all ease 1s;
}

.products__list--item:hover .overlay {
    opacity: 1;
}  

.overlay__list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 165px;
}

.overlay__list li {
    display: inline-block;
    margin-right: 10px;
} 

.overlay__list li:last-child {
    margin-right: 0;
}

.overlay__item a {
    display: block;
    border: 2px solid #fff;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
} 

.overlay__list li:hover {
    background-color: rgba(26, 188, 156);
}

.overlay__icon--like {
    background-image: url(../img/icons/like.png);
}

.overlay__icon--related {
    background-image: url(../img/icons/related.png);
}

.overlay__icon--time {
    background-image: url(../img/icons/time.png);
}

.overlay__button {
    border: 1px solid #fff;
    background-color: rgb(50, 50, 50);
    width: 164px;
    position: absolute;
    left: 50%;
    top: 62%;
    transform: translate(-50%, -50%);
    padding: 11px 8px;
}

.overlay__act {
    font-size: 14px;
    font-family: 'OpenSans',sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    line-height: 32px;
}

.overlay__act::before {
    background-image: url(../img/icons/cart.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 28px;
    height: 27px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; 
}

.product__item--descr {
    background-color: rgb(50, 50, 50);
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
    cursor: pointer;
    transition: all ease 1s;
}

.product__title--title {
    width: 200px;
    float: left;
    padding-left: 13px;
}

.product__item--price {
    width: 55px;
    background-color: rgba(255,255,255,0.44);
    float: right;
    text-align: center;
}

.products__list--item:hover .product__item--descr {
    background-color: rgb(26, 188, 156);
}

.products__list--item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.products__list--item:nth-last-child(-n+4) {
    margin-bottom: 0;
}

/* Footer section */

.footer {
    background-color: rgb(50, 50, 50);
    height: 88px;
}

.footer__content {
    text-align: center;
    padding-top: 31px;
}

.footer__text {
    font-size: 16px;
    font-family: "OpenSans",sans-serif;
    line-height: 28px;
    display: inline-block;
}

.footer__link {
    color: #46bfa9;
    text-decoration: none;
}