.page-header {
  padding-top: 38px;
  padding-bottom: 100px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252,227,138,0.9)), to(rgba(243,129,129,0.9))), url(/images/background.jpg);
  background-image: -o-linear-gradient(bottom, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%), url(/images/background.jpg);
  background-image: linear-gradient(to top, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%), url(/images/background.jpg) ;
}

@media ( -webkit-min-device-pixel-ratio: 2 ), ( -o-min-device-pixel-ratio: 2/1 ), ( min-resolution: 192dpi ) {
  .page-header {
      background-image: url(/images/background@2x.jpg);
  }
}

.page-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-logo {
  font-family: $main-font;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 510px;
  padding-top: 10px;
  margin-bottom: 84px;


    &__link {
      font-family: $main-font;
      text-transform: uppercase;
      color: #fff;
      font-weight: 400;


    &::after {
      content: "";
      display: block;
      background-color:rgb(252, 227, 138);
      width: 0;
      height: 3px;
      margin-top: 5px;
      -webkit-transition: all ease 1s;
      -o-transition: all ease 1s;
      transition: all ease 1s;
    }

    &:hover {
      color: rgb(252, 227, 138);

      &::after {
        width: 100%;
      }
    }

    &--image {
      width: 18px;
      height: 18px;
      fill:#fff;

      &:hover {
        fill: rgb(252, 227, 138);;
      }
    }
  }
}

.header__subtitle {
  color: #fff;
  font-size: 72px;
  font-family: $main-font-header;
  text-align: center;
  margin-bottom: 100px;
}

.header__title {
  color: #fff;
  display: block;
  font-size: 150px;
  font-family: $main-font;
  text-transform: uppercase;
  width: 845px;
  margin: 0 auto;
  line-height: 140px;
  margin-top: 24px;
}

.modal-btn {
  border: 3px solid rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  width: 164px;
  height: 44px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 220px;
}
