.services {
  padding-bottom: 90px;
}

.section__subtitle {
  color: $color-text-title;
  font-size: 24px;
  font-family: $main-font-header;
  text-align: center;
  margin-top: 28px;
}

.section__title {
  display: block;
  font-size: 30px;
  font-family: $main-font;
  text-transform: uppercase;
  margin-top: 19px;
  color: $color-text-title;
  margin-bottom: 64px;


  &::after {
    content: "";
    display: block;
    background-color: $color-hover;
    height: 3px;
    width: 60px;
    margin: 0 auto;
    margin-top: 37px;
  }
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

    &-item {
      -ms-flex-preferred-size:383px;
          flex-basis:383px;
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      padding-left:82px;
      position: relative;
      margin-bottom: 96px;


      &::before {
        position: absolute;
        left: 30px;
        top: 0;
        content: "";
        height: 32px;
        width: 32px;
        display: block;
        background-repeat: no-repeat;
      }

    &--alarm::before {
      background-image: url(../images/services/icon__services/alarm.svg);
    }

    &--web::before {
      background-image: url(../images/services/icon__services/web.svg);
    }

    &--creativity::before {
      background-image: url(../images/services/icon__services/creativity.svg);
    }

    &--seo::before {
      background-image: url(../images/services/icon__services/book.svg);
    }

    &--css-html::before {
      background-image: url(../images/services/icon__services/home.svg);
    }

    &--digital::before {
      background-image: url(../images/services/icon__services/digital.svg);
    }

    &:nth-last-child(-n+3){
      margin-bottom: 0;
    }
  }

  &-title {
    font-family: $main-font;
    text-transform: uppercase;
    color: $color-text-title;
    font-weight: 400;
  }

  &-text {
    font-size: 15px;
    font-weight: 400;
    margin-top: 18px;
    color: $color-text;
    line-height: 24px;
  }
}
