:root {
    --main-font:'Montserrat', sans-serif;
    --main-font-header:'Kaushan Script', cursive;
    --text-color:rgb(149, 225, 211);
    --color-text-title:rgb(51, 51, 51);
    --color-text:rgb(153, 153, 153);
    --color-hover:rgb(243, 129, 129);
}


html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: "Roboto",sans-serif; 
}

a {
    text-decoration: none;
}

.container {
    width: 1201px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    margin: auto;
    display: block;
}

ul, li {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path:inset(100%);
    clip:rect(0 0 0 0);
    overflow:hidden;
}

/* Navigation menu */
.page__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.site__logo {
    font-family: var(--main-font);
    font-size: 30px;
    color: var(--text-color);
    font-weight: 700;
}

.site__navigation {
    display: flex;
    justify-content: space-between;
    width: 510px;
}

.navigation__item a {
    font-family: var(--main-font);
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 400;
}

.navigation__item a::after {
    content: "";
    display: block;
    background-color:var(--color-hover);
    width: 0;
    height: 3px;
    margin-top: 5px;
    transition: all ease 1s;
} 

.navigation__item a:hover::after {
    width: 100%; 
}

.navigation__item a:hover {
    color:var(--color-hover);
}

/* Services section */

.services {
    padding-top: 86px;
    padding-bottom: 90px;
}

.header__block {
    text-align: center;
    margin-bottom: 64px;
}

.header__text {
    color: var(--color-text-title);
    font-size: 24px;
    font-family: var(--main-font-header);
}

.header__title {
    font-size: 30px;
    font-family: var(--main-font);
    text-transform: uppercase;
    margin-top: 19px;
    color:var(--color-text-title);
}

.header__title::after {
    content: "";
    display: block;
    background-color:var(--color-hover);
    height: 3px;
    width: 60px;
    margin: 0 auto;
    margin-top: 37px;
}

.service__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service__list--item {
    flex-basis:383px;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left:82px;
    position: relative;
    margin-bottom: 96px;
}

.service__list--item::before {
    position: absolute;
    left: 30px;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
}

.alarm::before {
    background-image: url(../img/services/ALARM.png);
}

.web::before {
    background-image: url(../img/services/LINE\ GRAPH.png);
}

.creativity::before {
    background-image: url(../img/services/COMPUTER\ _\ OK.png);
}

.seo::before {
    background-image: url(../img/services/BOOK\ 2.png);
}

.css-html::before {
    background-image: url(../img/services/HOME.png);
}

.digital::before {
    background-image: url(../img/services/COMPUTER\ _\ OK.png);
}

.service__list--item:nth-last-child(-n+3){
    margin-bottom: 0;
}

.service__list--title {
    font-family: var(--main-font);
    text-transform: uppercase;
    color: var(--color-text-title);
    font-weight: 400;
}

.service__list--text {
    width: 276px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 18px;
    color:var(--color-text);
    line-height: 24px;
}

/* Our team section*/
.team {
    padding-bottom: 80px;
}

.team__description {
    font-size: 15px;
    color: var(--color-text);
    margin: 0 auto;
    line-height: 24px;
    width: 980px;
    text-align: center;
    margin-bottom: 88px;
}

.team__list {
    display: flex;
    justify-content: space-between;
}

.team__card {
    text-align: center;
}

.team__list--name {
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 400;
    color: var(--color-text-title);
    margin-bottom: 10px;
}

.team__list--position {
    font-size: 15px;
    font-style: italic;
    color: var(--color-text);
}

.social__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 470px;
}

.social__icon li {
    margin-right: 1px;
}

.team__list--image {
    margin-bottom: 40px;
}

.team__list--wrapper {
    position: relative;
}

.overlay {
    position: absolute;
    background-image: linear-gradient(to top, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.team__list--wrapper:hover .overlay{
    opacity: 0.9;
}

.team__list--wrapper:hover {
    box-shadow: 10px 10px 0 var(--text-color);
    transform: translate(-10px,-10px);
    transition: all 0.2s ease;
}


.social__icon--item button {
    display: block;
    border: 1px solid rgb(252, 227, 138);
    width: 56px;
    height: 56px;
    background-color: rgb(252, 227, 138);
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease;
}

.social__icon--item button:hover {
    background-color: var(--text-color);
}

.facebook {
    background-image: url(../img/icons/facebook.png);
}

.twitter {
    background-image: url(../img/icons/twitter.png);
}

.pinterest {
    background-image: url(../img/icons/pinterest.png);
}

.instagram {
    background-image: url(../img/icons/instagram.png);
}

/* Footer */
.footer__block {
    background-color: rgb(229, 229, 229);
    height: 1px;    
}

.footer__block--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height:63px;
}

.footer__text {
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 400;
    display: flex;
}

.footer__text--item {
    color: var(--color-text-title);
}

.footer__text--link {
    color: var(--color-hover);
    margin-left: 2px;
}

.form {
    display: flex;
}

.form__input {
    width: 234px;
    height: 44px;
    border:1px solid rgb(231, 231, 231);
    font-size: 15px;
    color: #cccc;
    font-style: italic;
    padding-left: 12px;
    line-height: 1.6;
}

.form__act {
    width: 150px;
    height: 44px;
    background-color: var(--text-color);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
}
