:root {
    --main-font-header:'Montserrat',sans-serif;
    --main-font_text: 'Roboto',sans-serif;
}
 
 /* roboto-italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'),
         url('../fonts/roboto-v20-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
}

*************************** 
            General        
****************************/

html {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family:var(--main-font-header);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 292px;    
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    margin: -0.0625rem;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path:inset(100%);
    clip:rect(0 0 0 0);
    overflow:hidden;
}

.background__image {
    background-image:url(../img/background/Mobile_01.jpg);
    background-color: rgb(26, 25, 21);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.site__navigation {
    flex-direction:row-reverse;
}

.navigation__list {
    display: flex;
    padding-top: 20px;
    margin: 0 auto;
}

.button__header {
    font-family: var(--main-font-header);
    color: #fff;
    font-weight:700;    
    background-color: transparent;
    border: 2px solid transparent;
    width: 94px;
    height: 40px;
    border-radius:20px;  
}

.navigation__list--item .button__header:hover {
    border-color: #fff;
}

.site__logo {
    font-size: 20px;
    font-family: var(--main-font-header);
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin: auto;
    /* margin-top: 114px;
    margin-bottom: 32px; */
}

.site__header {
    font-size: 30px;
    font-family: var(--main-font-header);
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.site__title {
    font-size: 18px;
    font-family:var(--main-font_text) ;
    font-weight: 400;
    color: #fff;
    text-transform: none;
    width: 221px;
    margin: auto;
    margin-top: 18px;
    text-align: center;
}

.button__act {
    margin: 0 auto;
    margin-top: 16px;
}

.button__act--item {
    font-family: var(--main-font-header);
    font-weight: 700;
    color: #fff;
    border-radius: 20px;
    border: 1px solid rgb(255, 78, 80) ;
    background-color: rgb(255, 78, 80);
    width: 280px;
    height: 40px;    
}

.partner {
    padding-bottom: 56px;
}

.partner__header {
    font-size: 22px;
    font-family: var(--main-font-header);
    color:#333;
    text-align: center;
    padding-top: 68px;
    margin-bottom: 18px;
}

.partner__list li {
    margin: 0 auto 24px;
    width: 260px;
}

.partner__list--item {
}

.partner__wrapper {
    position: relative;
    width: 121px;
    margin: 0 auto;
}

.partner__wrapper::after {
    content: '';
    position: absolute;
    border: 4px solid #fff;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.icon__tv::after {
    position: absolute;
    background-image: url(../img/icon/Shape\ 128.png);
    background-color: rgb(255, 78, 80);
}

.icon__bottle::after {
    position: absolute;
    background-image: url(../img/icon/Shape\ 155.png);
    background-color: rgb(255, 165, 7);
}

.icon__cup::after {
    position: absolute;
    background-image: url(../img/icon/Shape\ 153.png);
    background-color: rgb(28, 215, 173);
}

.icon__plane::after {
    position: absolute;
    background-image: url(../img/icon/Shape\ 170.png);
    background-color: rgb(78, 115, 219);
}

.partner__item--title {
    font-family: var(--main-font-header);
    color: #333;
}

.partner__item--text {
    font-family: var(--main-font-text);
    color: #666;
}

.partner__item--title, .partner__item--text {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
}

.partner__list--item:last-child {
    margin-bottom: 0;
}

.partner__act {
    margin-top: 28px;
}

.partner__button {
    border:2px solid rgb(255, 78, 80);
    border-radius: 20px;
    width: 284px;
    height: 44px;
    font-family: var(--main-font_header);
    color: rgb(255, 78, 80);
    background-color: transparent;
    font-weight: 700;
}

@media (min-width:768px){
    .container {
        margin: 0 auto;
        width: 679px;
    }

    .background__image {
        background-image: url(../img/background/Tablet.jpg);
    } 

    .site__navigation {
        display: flex;
    }

    .site__logo {
        padding-top: 20px;
    }

}
